<!doctype html>
<html lang="en">

<!-- Page Title -->
<title>TLA Activity Index</title>

<!-- Header -->
<% include partials/header.html %>

<body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
            </div>
        </header>

        <main role="main" class="inner cover">
            <h1 class="cover-heading">Keycloak Info</h1>
            <% if (locals.username != undefined) { %>
            <table class="table">
                <tr>
                    <td><b>ID</b></td>
                    <td>
                        <%= locals.id %>
                    </td>
                </tr>
                <tr>
                    <td><b>Name</b></td>
                    <td>
                        <%= locals.username %>
                    </td>
                </tr>
                <tr>
                    <td><b>Admin</b></td>
                    <td>
                        <%= (locals.admin) ? "True" : "False" %>
                    </td>
                </tr>
            </table>
            <% } else { %>
            <p class="lead">Unable to get username :(</p>
            <%  } %>
            <p class="lead">
                <a href="/logout" class="btn btn-lg btn-secondary">Logout</a>
            </p>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>This wonderful <a href="https://getbootstrap.com/">Bootstrap</a> template is by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
        </footer>
    </div>

</body>

</html>